@use "../../styles/variables" as vars;
@use "../../styles/main";

.profile-page {
  height: 100vh;
  width: 100%;
  display: flex;

  &__left-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100%;
    background: vars.$light-gray;
    border-right: 2px solid #e7e7e7;

    &__back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: vars.$white-color;
      height: 50px;
      width: 80px;
      border-radius: 20px;
      background: vars.$primary-color;;
    }
  }

  &__right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
