@use "../../styles/variables" as vars;
@use "../../styles/main";

.registration-page {
    background: vars.$white-color;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
