<div class="chat-item">
    <div class="chat-item__image"></div>
    <div class="chat-item__message">
        <div class="chat-item__message-to">{{to}}</div>
        <div class="chat-item__message-content">{{content}}</div>
    </div>
    kek
</div>